img {
    margin: 3px;

}

.inferior-input {
    display: flex;
}

.camera, .location {
    margin-top: 4px;
    border: solid 1px rgb(201, 193, 193);
    border-radius: 4px;
    width: 40px;
}

.camera {
    margin-right: 2px;
}



